# use glob syntax.
syntax: glob

*~
*.old
*.pyc
*.sobj

# Mac cache files
.DS_Store

# Temporary swap files
.*.swp

# Temporary files used by parallel gp runs
tempfile-*

# latex aux files etc:
tex/*.aux
tex/*.bbl
tex/*.blg
tex/*.brf
tex/*.log
tex/*.out

